body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #222222;
    margin: 0;
    padding: 0;
}

.options-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type=text] {
    width: 100%;
    height: 3rem;
    padding: 0.8rem 2.6rem 0.8rem 0.8rem;
    box-sizing: border-box;
    font-size: 1.0rem;
    vertical-align: middle;
    margin: 0;

    color: #222222 !important;
    background-color: #ffffff;

    border: 1px solid #666666;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;
}

.location-input {
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    position: relative;
    width: 100%;
    max-width: 20rem;
}

input[type=text]:focus {
     border: 1px solid #000000 !important;
}

input[type=text]::placeholder {
    color: #666666 !important;
}

select {
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.4rem;
    padding-right: 1.2rem;
    margin-right: 0.3rem;
    border: 1px solid #666666;
    border-radius: 8px;
    outline: none;
    appearance: none;

    background-color: #ffffff;

    background-image: url("../icons/down_arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    background-size: 0.5rem 0.3rem;

    margin-top: 0.5rem;
    margin-left: 0rem;
}
select:active {
    border-color: #222222;
}

select:after {
    content: '\f078';
}

.location-btn {
    width: 2.5rem;
    height: 3rem;
    vertical-align: middle;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;

    border: none;
    outline: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;

    background-image: url("../icons/my_location.png");
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: 1.5rem 1.5rem;
    background-color: transparent;
    opacity: 50%;
}

.location-btn:active {
    opacity: 100%;
}

.aqi-display-box {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    /* This transition seems to break the Glimpse app.
       TODO: add it back in the future if it's working*/
    /*transition: background .3s;*/
}

.aqi-value-box {
    width: 40%;
    height: 80%;
    border-right: 1px solid #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aqi-message-box {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-text {
    color: #ffffff;
}

.aqi-value {
   font-size: 6rem;
}

.aqi-label {
    font-size: 2rem;
}

.aqi-level {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.aqi-message {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.transition {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity: 0%;}
    66% {opacity: 0%;}
    100% {opacity: 100%;}
}

#map {
    width: 40rem;
    height: 30rem;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0;
}

.circle-icon {
    width: 40px !important;
    height: 40px !important;
    font-size: 16px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

/* For desktop */
@media screen and (min-width: 600px) {
    .aqi-display-box {
        width: 40rem;
        height: 20rem;
        border-radius: 2rem;
        margin: 0 auto;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* For mobile devices */
@media screen and (max-width: 600px) {
    .aqi-display-box {
        width: 100%;
        height: 16rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .aqi-value {
       font-size: 4rem;
    }
    .aqi-label {
        font-size: 1.2rem;
    }
    .aqi-level {
        font-size: 1.5rem;
    }
    #map {
        width: 100%;
    }
}


/* autoCompleteJS overrides */
.autoComplete_wrapper > input {
    background-image: none;
}

.autoComplete_wrapper > ul {
    z-index: 2000;
}

.autoComplete_wrapper {
    width: 100%;
}

.autoComplete_wrapper > ul {
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: none;
}

.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.autoComplete_wrapper > input:focus::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

.autoComplete_wrapper > input::selection {
  background-color: rgba(255, 122, 122, 0.15);
}


/* Custom autocomplete elements */
.ac-short-name {
    font-size: 0.9rem;
}

.ac-address {
    font-size: 0.75rem;
    color: #666666;
}
