body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.location-bar {
    margin-top: 2rem;
    text-align: center;
}

.location-input {
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    font-size: 1.1rem;
    vertical-align: middle;
}

.location-btn {
    width: 3rem;
    height: 3rem;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin-top: 0;
    vertical-align: middle;

    background-image: url("../icons/my_location.png");
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: 1.5rem 1.5rem;
    background-color: #ddd;
}

.location-btn:active {
    background-color: #aaa;
}

#map {
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 1rem auto;
}

.circle-icon {
    width: 40px !important;
    height: 40px !important;
    font-size: 16px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
