DOMAIN_NAME=dev.ethanj.me

# Root url of your app when actually served. For example "/app" to serve at "example.com/app". Leave blank to serve at root
# Yes, I know SCRIPT_NAME is a weird name, it's what gunicorn uses
SCRIPT_NAME=
